<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Progression</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/dash.css">



</head>
<style>
      table {
        width: 100%;
      }

      @media only screen and (max-width: 768px) {
        table {
          width: 100%;
        }
      }

    </style>

<script>
    function toggleMenu() {
        var menuBar = document.getElementById('menuBar');
        menuBar.classList.toggle('active');
    }
</script>
</head>
<body>
  <script>
    const textarea = document.getElementById('sticky-note');
    textarea.addEventListener('input', function() {
      // Get the first line of the textarea
      const firstLine = this.value.substr(0, this.value.indexOf('\n'));
      // Set the textarea value to the first line plus the user input
      this.value = `${firstLine}\n${this.value.substr(this.value.indexOf('\n') + 1)}`;
    });
  </script>

    <nav id="menuBar">
        <ul>
            <li>
                <a href="javascript:toggleMenu()">
                    <img src="static/images/logo.png" width="20px" height="20px" class="logo-menu" >
                    <span id="menu">Menu</span>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <img src="/static/images/dash.svg" alt="Dashboard Icon">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/students">
                    <img src="/static/images/students.svg" alt="Students Icon">
                    <span>Stduents</span>
                </a>
            </li>
            <li>
                <a href="/predictor">
                    <img src="/static/images/predict.svg" alt="Predict Icon">
                    <span>Predictor</span>
                </a>
            </li>
             <li class="profile">
                  <div class="circle">
                    <div class="profile-image"></div>
                  </div>
                </li>
              <li class="profile-name">
                    <div class="profile-n"></div>
                  <span>{{ session['email'] }}</span>
                </li>
                <br><br><br>
                <br>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
               <li class="navbar-divider"></li>
           <li class="logout" style="margin-top: auto;">
            <a href="/logout">
              <div class="logout-icon">
                <img src="/static/images/logout.svg" alt="Logout Icon">
              </div>
              <span class="logout-text">Logout</span>
            </a>
          </li>


        </ul>
    </nav>
    <div style="margin-left:15%;padding:20px 16px;height:1000px;">
    <br>
    <h1>Notes</h1><br>
<div class="container">
  <div class="outer-box">
    <div class="inner-box">
      <textarea class="sticky-note readonly">Daily-to-do</textarea>
    </div>
    <div class="inner-box">
      <textarea class="sticky-note readonly">Daily-to-do</textarea>
    </div>
    <div class="inner-box">
      <textarea class="sticky-note readonly">Daily-to-do</textarea>
    </div>
    <div class="inner-box">
      <textarea class="sticky-note readonly">Daily-to-do</textarea>
    </div>
  </div>
</div>
<br>
<br>
<div class="container-2" style="width: auto; margin: 0 auto; ; padding: 20px; background-color: white;border-radius: 10px;">
  <h1>Starred Students</h1>
  <table class="table" id="1" style=" margin-left: auto; margin-right: auto; border-radius: 20px">
    <thead>
      <tr>
        <th id="first-th">Name</th>
        <th>USN</th>
        <th>Class</th>
        <th>Previous Year Rank</th>
        <th>View</th>
        <th id="last-th">Pinned</th>
      </tr>
    </thead>

    <tbody id="data-out" style="border: none; background-color: white;">
      <tr>
        <td></td>
        <td></td>
        <td>VIII Sem</td>
        <td>8.1</td>
        <td>
          <button id="myBtn">View</button>
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Predicted marks are</p>
            </div>
            <script>
              // Get the modal
              var modal = document.getElementById("myModal");

              // Get the button that opens the modal
              var btn = document.getElementById("myBtn");

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("close")[0];

              // When the user clicks the button, open the modal
              btn.onclick = function() {
                modal.style.display = "block";
              }

              // When the user clicks on <span> (x), close the modal
              span.onclick = function() {
                modal.style.display = "none";
              }

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none";
                }
              }
            </script>
          </div>
        </td>
        <td><input class="star" type="checkbox" title="bookmark page"></td>
      </tr>
    </tbody>
  </table>
</div>


    </div>
<script src="static/js/script.js"></script>
    </body>
</html>
