<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Academic Progression | Login Menu</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/main.css'>

</head>
<body>
  <div id="login-page-container">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" id="my-logo">
    <div class="login-box">
      <h2>Login</h2>
      <form method="POST" action="{{ url_for('login') }}">
        <div class="user-box">
          <input type="text" name="Email" required="">
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="Password" required="">
          <label>Password</label>
        </div>
        <button id="login-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
        </button>
        <div class="signup-link">
          <a href="#" onclick="showSignUpDialog()">Sign up?</a>
        </div>
        {% if error_message %}
        <div class="error_message">
          {{ error_message }}
        </div>
        {% endif %}
      </form>
    </div>
  </div>


  <!-- Sign up dialog -->
  <div id="signup-dialog" class="dialog" style="display: none">
    <div class="dialog-content">
      <span class="close" onclick="hideSignUpDialog()">&times;</span>
      <h2>Sign up</h2>
      <form method="POST" action="{{ url_for('signup') }}">
        <div class="user-box">
          <label>Email</label>
          <input type="email" name="Email" placeholder="Enter your email address" required="">
        </div>
        <div class="user-box">
          <label>Password</label>
          <input type="password" name="Password" placeholder="Enter a password" required="">
        </div>
        <div class="user-box">
          <label>Code</label>
          <input type="text" name="Code" placeholder="Verification code" required="">
        </div>
        <button id="btn-l">Sign up</button>
      </form>
    </div>
  </div>



  <script>
    // Show the sign up dialog when the sign up link is clicked
    function showSignUpDialog() {
      document.getElementById("signup-dialog").style.display = "block";
    }

    // Hide the sign up dialog when the close button is clicked
    function hideSignUpDialog() {
      document.getElementById("signup-dialog").style.display = "none";
    }

  </script>
<script src="./static/js/main.js"></script>
</body>
</html>
